<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Score Calculator</title>
    </head>
    <body>
        <div class="container">
            <h1>Enter your scrabble word to see your word's score.</h1>
            <form action="/results">
                <div class="form-group">
                    <label for="word">Enter your word</label>
                    <input id="word" name="word" class="form-control" type="text">
                </div>
                <button type="submit" class="btn-danger">Calculate!!</button>
            </form>
        </div>
    </body>
</html>
