<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Scrabble Word Score</title>
    </head>
    <body>
        <div class="container">
            <h1>Your scrabble word score is:</h1>
            <h4>{{ result }}</h4>
        </div>
    </body>
</html>
